USE [KatomDev]
GO
/****** Object:  StoredProcedure [dbo].[InvoiceBackupCopy_OldNav]    Script Date: 01/30/2013 16:26:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InvoiceBackupCopy_OldNav] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
insert into [invoice_backup]([No_]
      ,[Sell-to Customer No_]
      ,[Bill-to Customer No_]
      ,[Name]
      ,[Name 2]
      ,[Address]
      ,[Address 2]
      ,[City]
      ,[Contact]
      ,[Your Reference]
      ,[Ship-to Code]
      ,[Ship-to Name]
      ,[Ship-to Name 2]
      ,[Ship-to Address]
      ,[Ship-to Address 2]
      ,[Ship-to City]
      ,[Ship-to Contact]
      ,[Order Date]
      ,[Posting Date]
      ,[Shipment Date]
      ,[Posting Description]
      ,[Payment Terms Code]
      ,[Due Date]
      ,[Payment Discount %]
      ,[Pmt_ Discount Date]
      ,[Shipment Method Code]
      ,[Location Code]
      ,[Department Code]
      ,[Project Code]
      ,[Customer Posting Group]
      ,[Currency Code]
      ,[Currency Factor]
      ,[Price Group Code]
      ,[Prices Including Tax]
      ,[Allow Quantity Disc_]
      ,[Invoice Disc_ Code]
      ,[Cust__Item Disc_ Gr_]
      ,[Language Code]
      ,[Salesperson Code]
      ,[Order No_]
      ,[No_ Printed]
      ,[On Hold]
      ,[Applies-to Doc_ Type]
      ,[Applies-to Doc_ No_]
      ,[Bal_ Account No_]
      ,[Job No_]
      ,[VAT Registration No_]
      ,[Reason Code]
      ,[Gen_ Bus_ Posting Group]
      ,[EU 3-Party Trade]
      ,[Transaction Type]
      ,[Transport Method]
      ,[VAT Country Code]
      ,[Sell-to Customer Name]
      ,[Sell-to Customer Name 2]
      ,[Sell-to Address]
      ,[Sell-to Address 2]
      ,[Sell-to City]
      ,[Sell-to Contact]
      ,[ZIP Code]
      ,[State]
      ,[Country Code]
      ,[Sell-to ZIP Code]
      ,[Sell-to State]
      ,[Sell-to Country Code]
      ,[Ship-to ZIP Code]
      ,[Ship-to State]
      ,[Ship-to Country Code]
      ,[Bal_ Account Type]
      ,[Exit Point]
      ,[Correction]
      ,[Document Date]
      ,[External Document No_]
      ,[Area]
      ,[Transaction Specification]
      ,[Payment Method Code]
      ,[Shipping Agent Code]
      ,[Package Tracking No_]
      ,[Pre-Assigned No_ Series]
      ,[No_ Series]
      ,[Order No_ Series]
      ,[Pre-Assigned No_]
      ,[User ID]
      ,[Source Code]
      ,[Tax Area Code]
      ,[Tax Liable]
      ,[Tax Bus_ Posting Group]
      ,[VAT Base Discount %]
      ,[Ship-to UPS Zone]
      ,[Tax Exemption No_]
      ,[New Customer]
      ,[Phone No_]
      ,[Fax No_]
      ,[E-Mail]
      ,[Home Page]
      ,[Pager_Cell No_]
      ,[Ext_]
      ,[Credit Card Comp_]
      ,[Credit Card Holder]
      ,[Credit Card No_]
      ,[Credit Card Exp_ Month]
      ,[Credit Card Exp_ Year]
      ,[Picker]
      ,[Packer]
      ,[Customer Source]
      ,[Credit Card Info Sent]
      ,[Amount Submitted]
      ,[Amount Approved]
      ,[Credit Approval Obtained]
      ,[Amount Declined]
      ,[Amount Authorized]
      ,[Catalog Version Code]
      ,[Order Medium]
      ,[Web Order No_])
      
select [No_]
      ,[Sell-to Customer No_]
      ,[Bill-to Customer No_]
      ,[Name]
      ,[Name 2]
      ,[Address]
      ,[Address 2]
      ,[City]
      ,[Contact]
      ,[Your Reference]
      ,[Ship-to Code]
      ,[Ship-to Name]
      ,[Ship-to Name 2]
      ,[Ship-to Address]
      ,[Ship-to Address 2]
      ,[Ship-to City]
      ,[Ship-to Contact]
      ,[Order Date]
      ,[Posting Date]
      ,[Shipment Date]
      ,[Posting Description]
      ,[Payment Terms Code]
      ,[Due Date]
      ,[Payment Discount %]
      ,[Pmt_ Discount Date]
      ,[Shipment Method Code]
      ,[Location Code]
      ,[Department Code]
      ,[Project Code]
      ,[Customer Posting Group]
      ,[Currency Code]
      ,[Currency Factor]
      ,[Price Group Code]
      ,[Prices Including Tax]
      ,[Allow Quantity Disc_]
      ,[Invoice Disc_ Code]
      ,[Cust__Item Disc_ Gr_]
      ,[Language Code]
      ,[Salesperson Code]
      ,[Order No_]
      ,[No_ Printed]
      ,[On Hold]
      ,[Applies-to Doc_ Type]
      ,[Applies-to Doc_ No_]
      ,[Bal_ Account No_]
      ,[Job No_]
      ,[VAT Registration No_]
      ,[Reason Code]
      ,[Gen_ Bus_ Posting Group]
      ,[EU 3-Party Trade]
      ,[Transaction Type]
      ,[Transport Method]
      ,[VAT Country Code]
      ,[Sell-to Customer Name]
      ,[Sell-to Customer Name 2]
      ,[Sell-to Address]
      ,[Sell-to Address 2]
      ,[Sell-to City]
      ,[Sell-to Contact]
      ,[ZIP Code]
      ,[State]
      ,[Country Code]
      ,[Sell-to ZIP Code]
      ,[Sell-to State]
      ,[Sell-to Country Code]
      ,[Ship-to ZIP Code]
      ,[Ship-to State]
      ,[Ship-to Country Code]
      ,[Bal_ Account Type]
      ,[Exit Point]
      ,[Correction]
      ,[Document Date]
      ,[External Document No_]
      ,[Area]
      ,[Transaction Specification]
      ,[Payment Method Code]
      ,[Shipping Agent Code]
      ,[Package Tracking No_]
      ,[Pre-Assigned No_ Series]
      ,[No_ Series]
      ,[Order No_ Series]
      ,[Pre-Assigned No_]
      ,[User ID]
      ,[Source Code]
      ,[Tax Area Code]
      ,[Tax Liable]
      ,[Tax Bus_ Posting Group]
      ,[VAT Base Discount %]
      ,[Ship-to UPS Zone]
      ,[Tax Exemption No_]
      ,[New Customer]
      ,[Phone No_]
      ,[Fax No_]
      ,[E-Mail]
      ,[Home Page]
      ,[Pager_Cell No_]
      ,[Ext_]
      ,[Credit Card Comp_]
      ,[Credit Card Holder]
      ,[Credit Card No_]
      ,[Credit Card Exp_ Month]
      ,[Credit Card Exp_ Year]
      ,[Picker]
      ,[Packer]
      ,[Customer Source]
      ,[Credit Card Info Sent]
      ,[Amount Submitted]
      ,[Amount Approved]
      ,[Credit Approval Obtained]
      ,[Amount Declined]
      ,[Amount Authorized]
      ,[Catalog Version Code]
      ,[Order Medium]
      ,[Web Order No_]
	from fs1.[KatomDev].[dbo].[B&B Equipment & Supply Inc_$Sales Invoice Header]
	where No_ not in (select No_ from [KatomDev].[dbo].[invoice_backup])
	
	insert into ship_backup
	select * from shiptracking.dbo.TrackingArchive
	where trackingno not in (select trackingno from ship_backup)
	
END
GO
