USE [KatomDev]
GO
/****** Object:  StoredProcedure [dbo].[InvoiceBackupCopy]    Script Date: 01/30/2013 16:26:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InvoiceBackupCopy] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	delete from invoice_backup

	insert into invoice_backup ([No_]
		  ,[Sell-to Customer No_]
		  ,[Bill-to Customer No_]
		  ,[Bill-to Name]
		  ,[Bill-to Name 2]
		  ,[Bill-to Address]
		  ,[Bill-to Address 2]
		  ,[Bill-to City]
		  ,[Bill-to Contact]
		  ,[Your Reference]
		  ,[Ship-to Code]
		  ,[Ship-to Name]
		  ,[Ship-to Name 2]
		  ,[Ship-to Address]
		  ,[Ship-to Address 2]
		  ,[Ship-to City]
		  ,[Ship-to Contact]
		  ,[Order Date]
		  ,[Posting Date]
		  ,[Shipment Date]
		  ,[Posting Description]
		  ,[Payment Terms Code]
		  ,[Due Date]
		  ,[Payment Discount %]
		  ,[Pmt_ Discount Date]
		  ,[Shipment Method Code]
		  ,[Location Code]
		  ,[Shortcut Dimension 1 Code]
		  ,[Shortcut Dimension 2 Code]
		  ,[Customer Posting Group]
		  ,[Currency Code]
		  ,[Currency Factor]
		  ,[Customer Price Group]
		  ,[Prices Including VAT]
		  ,[Invoice Disc_ Code]
		  ,[Customer Disc_ Group]
		  ,[Language Code]
		  ,[Salesperson Code]
		  ,[Order No_]
		  ,[No_ Printed]
		  ,[On Hold]
		  ,[Applies-to Doc_ Type]
		  ,[Applies-to Doc_ No_]
		  ,[Bal_ Account No_]
		  ,[VAT Registration No_]
		  ,[Reason Code]
		  ,[Gen_ Bus_ Posting Group]
		  ,[EU 3-Party Trade]
		  ,[Transaction Type]
		  ,[Transport Method]
		  ,[VAT Country_Region Code]
		  ,[Sell-to Customer Name]
		  ,[Sell-to Customer Name 2]
		  ,[Sell-to Address]
		  ,[Sell-to Address 2]
		  ,[Sell-to City]
		  ,[Sell-to Contact]
		  ,[Bill-to Post Code]
		  ,[Bill-to County]
		  ,[Bill-to Country_Region Code]
		  ,[Sell-to Post Code]
		  ,[Sell-to County]
		  ,[Sell-to Country_Region Code]
		  ,[Ship-to Post Code]
		  ,[Ship-to County]
		  ,[Ship-to Country_Region Code]
		  ,[Bal_ Account Type]
		  ,[Exit Point]
		  ,[Correction]
		  ,[Document Date]
		  ,[External Document No_]
		  ,[Area]
		  ,[Transaction Specification]
		  ,[Payment Method Code]
		  ,[Shipping Agent Code]
		  ,[Package Tracking No_]
		  ,[Pre-Assigned No_ Series]
		  ,[No_ Series]
		  ,[Order No_ Series]
		  ,[Pre-Assigned No_]
		  ,[User ID]
		  ,[Source Code]
		  ,[Tax Area Code]
		  ,[Tax Liable]
		  ,[VAT Bus_ Posting Group]
		  ,[VAT Base Discount %]
		  ,[Ship-to UPS Zone]
		  ,[Tax Exemption No_]
		  ,[New Customer]
		  ,[Phone No_]
		  ,[Fax No_]
		  ,[E-Mail]
		  ,[Home Page]
		  ,[Pager_Cell No_]
		  ,[Ext_]
		  ,[Credit Card Comp_]
		  ,[Credit Card Holder]
		  ,[Credit Card No_]
		  ,[Credit Card Exp_ Month]
		  ,[Credit Card Exp_ Year]
		  ,[Picker]
		  ,[Packer]
		  ,[Customer Source]
		  ,[Credit Card Info Sent]
		  ,[Amount Submitted]
		  ,[Amount Approved]
		  ,[Credit Approval Obtained]
		  ,[Amount Declined]
		  ,[Amount Authorized]
		  ,[Catalog Version Code]
		  ,[Order Medium]
		  ,[Web Order No_]
		  ,[Campaign No_]
		  ,[Sell-to Contact No_]
		  ,[Bill-to Contact No_]
		  ,[Responsibility Center]
		  ,[Service Mgt_ Document]
		  ,[Allow Line Disc_]
		  ,[Get Shipment Used]
		  ,[Date Sent]
		  ,[Time Sent]
		  ,[BizTalk Sales Invoice]
		  ,[Customer Order No_]
		  ,[BizTalk Document Sent]
		  ,[Prepayment No_ Series]
		  ,[Prepayment Invoice]
		  ,[Prepayment Order No_]
		  ,[Quote No_]
		  ,[STE Transaction ID]
		  ,[Ship Complete]
		  ,[Order Reason])
	select [No_]
		  ,[Sell-to Customer No_]
		  ,[Bill-to Customer No_]
		  ,[Bill-to Name]
		  ,[Bill-to Name 2]
		  ,[Bill-to Address]
		  ,[Bill-to Address 2]
		  ,[Bill-to City]
		  ,[Bill-to Contact]
		  ,[Your Reference]
		  ,[Ship-to Code]
		  ,[Ship-to Name]
		  ,[Ship-to Name 2]
		  ,[Ship-to Address]
		  ,[Ship-to Address 2]
		  ,[Ship-to City]
		  ,[Ship-to Contact]
		  ,[Order Date]
		  ,[Posting Date]
		  ,[Shipment Date]
		  ,[Posting Description]
		  ,[Payment Terms Code]
		  ,[Due Date]
		  ,[Payment Discount %]
		  ,[Pmt_ Discount Date]
		  ,[Shipment Method Code]
		  ,[Location Code]
		  ,[Shortcut Dimension 1 Code]
		  ,[Shortcut Dimension 2 Code]
		  ,[Customer Posting Group]
		  ,[Currency Code]
		  ,[Currency Factor]
		  ,[Customer Price Group]
		  ,[Prices Including VAT]
		  ,[Invoice Disc_ Code]
		  ,[Customer Disc_ Group]
		  ,[Language Code]
		  ,[Salesperson Code]
		  ,[Order No_]
		  ,[No_ Printed]
		  ,[On Hold]
		  ,[Applies-to Doc_ Type]
		  ,[Applies-to Doc_ No_]
		  ,[Bal_ Account No_]
		  ,[VAT Registration No_]
		  ,[Reason Code]
		  ,[Gen_ Bus_ Posting Group]
		  ,[EU 3-Party Trade]
		  ,[Transaction Type]
		  ,[Transport Method]
		  ,[VAT Country_Region Code]
		  ,[Sell-to Customer Name]
		  ,[Sell-to Customer Name 2]
		  ,[Sell-to Address]
		  ,[Sell-to Address 2]
		  ,[Sell-to City]
		  ,[Sell-to Contact]
		  ,[Bill-to Post Code]
		  ,[Bill-to County]
		  ,[Bill-to Country_Region Code]
		  ,[Sell-to Post Code]
		  ,[Sell-to County]
		  ,[Sell-to Country_Region Code]
		  ,[Ship-to Post Code]
		  ,[Ship-to County]
		  ,[Ship-to Country_Region Code]
		  ,[Bal_ Account Type]
		  ,[Exit Point]
		  ,[Correction]
		  ,[Document Date]
		  ,[External Document No_]
		  ,[Area]
		  ,[Transaction Specification]
		  ,[Payment Method Code]
		  ,[Shipping Agent Code]
		  ,[Package Tracking No_]
		  ,[Pre-Assigned No_ Series]
		  ,[No_ Series]
		  ,[Order No_ Series]
		  ,[Pre-Assigned No_]
		  ,[User ID]
		  ,[Source Code]
		  ,[Tax Area Code]
		  ,[Tax Liable]
		  ,[VAT Bus_ Posting Group]
		  ,[VAT Base Discount %]
		  ,[Ship-to UPS Zone]
		  ,[Tax Exemption No_]
		  ,[New Customer]
		  ,[Phone No_]
		  ,[Fax No_]
		  ,[E-Mail]
		  ,[Home Page]
		  ,[Pager_Cell No_]
		  ,[Ext_]
		  ,[Credit Card Comp_]
		  ,[Credit Card Holder]
		  ,[Credit Card No_]
		  ,[Credit Card Exp_ Month]
		  ,[Credit Card Exp_ Year]
		  ,[Picker]
		  ,[Packer]
		  ,[Customer Source]
		  ,[Credit Card Info Sent]
		  ,[Amount Submitted]
		  ,[Amount Approved]
		  ,[Credit Approval Obtained]
		  ,[Amount Declined]
		  ,[Amount Authorized]
		  ,[Catalog Version Code]
		  ,[Order Medium]
		  ,[Web Order No_]
		  ,[Campaign No_]
		  ,[Sell-to Contact No_]
		  ,[Bill-to Contact No_]
		  ,[Responsibility Center]
		  ,[Service Mgt_ Document]
		  ,[Allow Line Disc_]
		  ,[Get Shipment Used]
		  ,[Date Sent]
		  ,[Time Sent]
		  ,[BizTalk Sales Invoice]
		  ,[Customer Order No_]
		  ,[BizTalk Document Sent]
		  ,[Prepayment No_ Series]
		  ,[Prepayment Invoice]
		  ,[Prepayment Order No_]
		  ,[Quote No_]
		  ,[STE Transaction ID]
		  ,[Ship Complete]
		  ,[Order Reason]
	from fs1.[Katom2009].[dbo].[B&B Equipment & Supply Inc_$Sales Invoice Header]
	where [Document Date] > DATEADD(m, -12, GETDATE())
	
	insert into ship_backup
	select * from shiptracking.dbo.TrackingArchive
	where trackingno not in (select trackingno from ship_backup)
	
END
GO
